<ion-header>
    <ion-navbar>
        <ion-title>Moradia</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form [formGroup]="moradiaForm" (ngSubmit)="onSubmit()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" formControlName="nome"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>CEP</ion-label>
                        <ion-input type="number" formControlName="cep" (keyup)="consultarCEP($event)"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Endereço</ion-label>
                        <ion-input type="text" formControlName="endereco"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <ion-item>
                            <ion-label floating>Nº</ion-label>
                            <ion-input type="number" formControlName="numero"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-9>
                        <ion-item>
                            <ion-label floating>Complemento</ion-label>
                            <ion-input type="text" formControlName="complemento"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <ion-list>
                            <ion-item>
                                <ion-label floating>UF</ion-label>
                                <ion-select formControlName="uf" name="uf">
                                    <ion-option value="AC">AC</ion-option>
                                    <ion-option value="AL">AL</ion-option>
                                    <ion-option value="AM">AM</ion-option>
                                    <ion-option value="AP">AP</ion-option>
                                    <ion-option value="BA">BA</ion-option>
                                    <ion-option value="CE">CE</ion-option>
                                    <ion-option value="DF">DF</ion-option>
                                    <ion-option value="ES">ES</ion-option>
                                    <ion-option value="GO">GO</ion-option>
                                    <ion-option value="MA">MA</ion-option>
                                    <ion-option value="MG">MG</ion-option>
                                    <ion-option value="MS">MS</ion-option>
                                    <ion-option value="MT">MT</ion-option>
                                    <ion-option value="PA">PA</ion-option>
                                    <ion-option value="PB">PB</ion-option>
                                    <ion-option value="PE">PE</ion-option>
                                    <ion-option value="PI">PI</ion-option>
                                    <ion-option value="PR">PR</ion-option>
                                    <ion-option value="RJ">RJ</ion-option>
                                    <ion-option value="RN">RN</ion-option>
                                    <ion-option value="RO">RO</ion-option>
                                    <ion-option value="RR">RR</ion-option>
                                    <ion-option value="RS">RS</ion-option>
                                    <ion-option value="SC">SC</ion-option>
                                    <ion-option value="SP">SP</ion-option>
                                    <ion-option value="SE">SE</ion-option>
                                    <ion-option value="TO">TO</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item>
                            <ion-label floating>Cidade</ion-label>
                            <ion-input type="text" formControlName="cidade"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                            <ion-label floating>Bairro</ion-label>
                            <ion-input type="text" formControlName="bairro"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Observações</ion-label>
                        <ion-textarea formControlName="observacoes"></ion-textarea>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button *ngIf="!moradia" btn-block color="submitButton" type="submit"
                            block [disabled]="!moradiaForm.valid">
                        Cadastrar Moradia
                    </button>
                    <button ion-button *ngIf="moradia" btn-block color="submitButton" type="submit"
                            block [disabled]="!moradiaForm.valid">
                        Atualizar Moradia
                    </button>
                </div>
            </form>
        </ion-grid>
    </div>
</ion-content>
