<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-round-back" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>Visualização de Localização</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div id="map_canvas"></div>
</ion-content>
