<ion-header>
    <ion-navbar>
        <ion-title>Vaga</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form [formGroup]="vagaForm" (ngSubmit)="onSubmit()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome do Responsável</ion-label>
                        <ion-input type="text" formControlName="nomeResponsavel" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Quantidade de quartos disponíveis</ion-label>
                        <ion-input type="number" formControlName="qtdQuartos"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Descrição do(s) quarto(s)</ion-label>
                        <ion-input type="text" formControlName="descricao"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-list>
                            <ion-item>
                                <ion-label floating>Público Alvo</ion-label>
                                <ion-select formControlName="publicoAlvo">
                                    <ion-option value="todos">Todos</ion-option>
                                    <ion-option value="homens">Homens</ion-option>
                                    <ion-option value="mulheres">Mulheres</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Observações</ion-label>
                        <ion-textarea formControlName="observacoes"></ion-textarea>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button btn-block color="submitButton" type="submit"
                            block [disabled]="!vagaForm.valid">
                        Cadastrar Vaga
                    </button>
                </div>
            </form>
        </ion-grid>
    </div>
</ion-content>
