<ion-header>
    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <!--<div id="logo" text-center></div>-->
                    <div text-center>
                        <img src="assets/imgs/logo_factio.jpeg">
                    </div>

                </ion-col>
            </ion-row>
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Senha</ion-label>
                        <ion-input type="password" formControlName="senha"></ion-input>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button btn-block color="submitButton" type="submit" block [disabled]="!loginForm.valid">
                        Entrar
                    </button>
                    <p right [navPush]="esqueciSenhaPage">Esqueci a Senha</p>
                </div>
            </form>
            <ion-row>
                <ion-col>
                    <p text-center>Novo no Factio?</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button ion-button btn-block color="submitButton" block [navPush]="usuarioCreatePage">
                        Criar uma Conta
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
