
<ion-content padding>
    <ion-grid>
        <ion-row style="margin-top: -15px;">
            <ion-col (click)="goToAndSetRoot(moradiaListPage, {})">
                <p text-center>
                    <img width="80px" height="80px" src="assets/imgs/logo_buscar.jpeg">
                </p>
                <h3 text-center>
                    Moradias
                </h3>
            </ion-col>
            <ion-col (click)="goToAndSetRoot(eventoListPage, {})">
                <p text-center>
                    <img width="80px" height="80px" src="assets/imgs/logo_eventos.jpeg">
                </p>
                <h3 text-center>
                    Eventos
                </h3>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: -15px;" [hidden]="!dadosUsuario?.usuario?.moradia">
            <ion-col (click)="goToAndSetRoot(membroListPage, {})">
                <p text-center>
                    <img width="80px" height="80px" src="assets/imgs/logo_membros.jpeg">
                </p>
                <h3 text-center>
                    Membros
                </h3>
            </ion-col>
            <ion-col (click)="goToAndSetRoot(tarefaListPage, {})">
                <p text-center>
                    <img width="80px" height="80px" src="assets/imgs/logo_calendario.jpeg">
                </p>
                <h3 text-center>
                    Tarefas
                </h3>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: -15px;">
            <ion-col (click)="goToAndSetRoot(vagaListPage, {})">
                <p text-center>
                    <img width="80px" height="80px" src="assets/imgs/logo_editar.jpeg">
                </p>
                <h3 text-center>
                    Vagas
                </h3>
            </ion-col>
            <ion-col [hidden]="!dadosUsuario?.usuario?.moradia" (click)="goToAndSetRoot(notificacoesPage, {})">
                <p text-center>
                    <img width="80px" height="80px" src="assets/imgs/logo_notificacoes.jpeg">
                </p>
                <h3 text-center>
                    Notificações
                </h3>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
