<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Vagas</ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleSearchBar()">
                <ion-icon name="search" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar *ngIf="search" debounce="1000"
                   [(ngModel)]="myInput"
                   [showCancelButton]="shouldShowCancel"
                   (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <h3 *ngIf="!searching && vagas.length === 0" padding>
        Nenhuma vaga.
    </h3>
    <ion-list>
        <ion-item-sliding *ngFor="let vaga of vagas" >
            <ion-item (click)="showModal(vaga)">
                <h4>{{ vaga.descricao }}</h4>
                <p>{{ vaga.moradia.nome }}. {{ vaga.moradia.endereco }}, {{ vaga.moradia.numero }} {{ vaga.moradia.cidade }} - {{ vaga.moradia.estado }}</p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primaty" (click)="showModal(vaga)">
                    <ion-icon name="information-circle"></ion-icon>
                    Detalhes
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primaty" (click)="showModal(vaga)">
                    <ion-icon name="information-circle"></ion-icon>
                    Detalhes
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="scrollVagas($event)" [enabled]="scrollEnabled">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab *ngIf="dadosUsuario?.usuario.moradia !== null" right bottom>
        <button ion-fab color="orange" [navPush]="vagaPage" [navParams]="{mode: 'create', usuario: dadosUsuario}">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
