<!--
  Generated template for the MembroDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>membro-detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
