<ion-content padding>
    <h3 *ngIf="!searching && tarefas.length == 0" padding>Nenhuma tarefa.</h3>
    <ion-list>
        <ion-item-sliding *ngFor="let tarefa of tarefas; let i = index">
            <ion-item>
                {{ tarefa.nome}}
                <p>{{ tarefa.descricao }}</p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary" [navPush]="tarefaPage" [navParams]="{mode: 'edit', tarefa: tarefa, usuario: dadosUsuario}">
                    <ion-icon name="create"></ion-icon>
                    Editar
                </button>
                <button ion-button color="secondary" [navPush]="avaliarTarefaPage" [navParams]="{tarefa: tarefa, usuario: dadosUsuario}">
                    <ion-icon name="star"></ion-icon>
                    Avaliar
                </button>
                <button ion-button color="danger" (click)="excluirTarefa(tarefa)">
                    <ion-icon name="trash"></ion-icon>
                    Excluir
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="scrollVagas($event)" [enabled]="scrollEnabled">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab right bottom>
        <button ion-fab color="orange" [navPush]="tarefaPage" [navParams]="{mode: 'create', usuario: dadosUsuario}">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
