<ion-header>
    <ion-navbar>
        <ion-title>Tarefa</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form [formGroup]="tarefaForm" (ngSubmit)="onSubmit()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" formControlName="nome"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Descrição</ion-label>
                        <ion-input type="text" formControlName="descricao"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Tipo</ion-label>
                        <ion-input type="text" formControlName="tipo"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Data de Conclusão</ion-label>
                        <ion-datetime displayFormat="DD MMM YYYY" formControlName="dataConclusao"></ion-datetime>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label floating>Membros</ion-label>
                        <ion-select multiple="true" [selectOptions]="selectOptions" formControlName="responsaveis">
                            <ion-option *ngFor="let membro of membrosMoradia" [value]="membro.id">
                                {{ membro.nome}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button btn-block *ngIf="!tarefa" color="submitButton" type="submit" [disabled]="!tarefaForm.valid"
                            block>
                        Cadastrar Tarefa
                    </button>
                    <button ion-button btn-block *ngIf="tarefa" color="submitButton" type="submit" [disabled]="!tarefaForm.valid"
                            block>
                        Editar Tarefa
                    </button>
                </div>

            </form>
        </ion-grid>
    </div>
</ion-content>
