<ion-header>
    <ion-navbar>
        <ion-title>Avaliar Tarefa</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-item>
                    <h2 left>Nome</h2>
                    <p>{{ tarefa.nome }}</p>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <h2 left>Responsáveis</h2>
                    <p>{{ responsaveisStr }}</p>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-label>Nota</ion-label>
                    <ion-range [(ngModel)]="nota" min="0" max="5" step="1" pin="true" (ionChange)="onChange($event)">
                    </ion-range>
                </ion-item>
            </ion-row>
            <div padding>
                <button ion-button btn-block color="submitButton" (click)="submit()" block>
                    Avaliar
                </button>
            </div>
        </ion-grid>
    </div>
</ion-content>
