<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Eventos</ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleSearchBar()">
                <ion-icon name="search" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar *ngIf="search" debounce="1000"
                   [(ngModel)]="myInput"
                   [showCancelButton]="shouldShowCancel"
                   (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <h3 *ngIf="!searching && eventos.length === 0" padding>
        Nenhum evento.
    </h3>
    <ion-list>
        <ion-item-sliding *ngFor="let evento of eventos" >
            <ion-item (click)="showModal(evento)">
                <h4>{{ evento.nome }}</h4>
                <p>{{ evento.descricao }}</p>
                <!--<p>{{ evento.dataRealizacao }}</p>-->
                <!--<p>{{ evento.valorEntrada }}</p>-->
                <!--<p>{{ evento.moradia.nome }} - {{ evento.moradia.endereco }}, {{ evento.moradia.numero }}, {{ evento.moradia.cidade }} - {{ evento.moradia.estado }}</p>-->
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="showModal(evento)">
                    <ion-icon name="information-circle"></ion-icon>
                    Detalhes
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="scrollEventos($event)" [enabled]="scrollEnabled">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--<ion-fab *ngIf="dadosUsuario?.usuario.moradia !== null" right bottom>-->
    <!--<button ion-fab color="orange" [navPush]="moradiaPage" [navParams]="{mode: 'create'}">-->
    <!--<ion-icon name="add"></ion-icon>-->
    <!--</button>-->
    <!--</ion-fab>-->
    <ion-fab right bottom>
        <button ion-fab color="orange" [navPush]="eventoPage" [navParams]="{mode: 'create'}">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
