<ion-header>
    <ion-navbar>
        <ion-title>Criar Usuário</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form [formGroup]="usuarioForm" (ngSubmit)="submitForm()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" formControlName="nome"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" formControlName="email" [class.invalid]="!usuarioForm.controls['email'].valid"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Telefone</ion-label>
                        <ion-input type="text" formControlName="telefone" [class.invalid]="!usuarioForm.controls['telefone'].valid"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Senha</ion-label>
                        <ion-input type="password" formControlName="senha"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <!--[class.invalid]="!usuarioForm.controls['confirmacaoSenha'].valid && usuarioForm.controls['confirmacaoSenha'].touched"-->
                    <ion-item>
                        <ion-label floating>Confirmar Senha</ion-label>
                        <ion-input type="password" formControlName="confirmacaoSenha"></ion-input>
                    </ion-item>
                    <!--<ion-item *ngIf="usuarioForm.hasError('mismatchedPasswords') && usuarioForm.controls.confirmacaoSenha.touched" class="invalid">-->
                    <ion-item *ngIf="!usuarioForm.controls['confirmacaoSenha'].valid && usuarioForm.controls['confirmacaoSenha'].touched && usuarioForm.controls['confirmacaoSenha'].errors?.mismatchedPasswords" class="invalid">
                        <p>* Senhas não conferem!</p>
                    </ion-item>
                    <!--<div class='form-text error' *ngIf="usuarioForm.controls.confirmacaoSenha.touched">-->
                        <!--<div *ngIf="usuarioForm.hasError('mismatchedPasswords')">Senhas não conferem.</div>-->
                    <!--</div>-->
                </ion-row>
                <div padding>
                    <button ion-button btn-block color="submitButton" type="submit"
                            block [disabled]="!usuarioForm.valid">
                        Concluir
                    </button>
                    <!--<button ion-button btn-block color="submitButton" type="submit"-->
                            <!--block>-->
                        <!--Concluir-->
                    <!--</button>-->
                </div>
            </form>
        </ion-grid>
    </div>
</ion-content>
