<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Membros da Moradia</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3 *ngIf="!searching && membros.length === 0" padding>
        Nenhum membro.
    </h3>
    <ion-list>
        <ion-item *ngFor="let membro of membros">
            <h4>{{ membro.nome }}</h4>
        </ion-item>
    </ion-list>
</ion-content>
