<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Notificações</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h3 *ngIf="!searching && notificacoes.length === 0" padding>
        Nenhuma notificação.
    </h3>
    <ion-list>
        <ion-item-sliding *ngFor="let notificacao of notificacoes">
            <ion-item>
                <h4>{{ notificacao.nomeUsuario }}</h4>
                <p>Solicitou Ingresso na Moradia</p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="aceitarSolicitacao(notificacao)">
                    <ion-icon name="checkmark"></ion-icon>
                    Aceitar
                </button>
                <button ion-button color="danger" (click)="recusarSolicitacao(notificacao)">
                    <ion-icon name="close"></ion-icon>
                    Recusar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
