<ion-header>
    <ion-navbar>
        <ion-title>Anúncio de Vaga</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome do Responsável {{ nomeResponsavel }}</ion-label>
                        <ion-input type="text" [value]="vaga?.nomeCriador" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Quantidade de quartos disponíveis</ion-label>
                        <ion-input type="number" [value]="vaga.qtdQuartos" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Descrição do(s) quarto(s)</ion-label>
                        <ion-input type="text" [value]="vaga.descricao" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Público Alvo</ion-label>
                        <!--<ion-option value="todos" [selected]="vaga.publicoAlvo === 'todos'">Todos</ion-option>-->
                        <!--<ion-option value="homens" [selected]="vaga.publicoAlvo === 'homens'">Homens</ion-option>-->
                        <!--<ion-option value="mulheres" [selected]="vaga.publicoAlvo === 'mulheres'">Mulheres</ion-option>-->
                        <ion-input type="text" *ngIf="vaga.publicoAlvo === 'todos'" value="Todos" [readonly]="true"></ion-input>
                        <ion-input type="text" *ngIf="vaga.publicoAlvo === 'homens'" value="Homens" [readonly]="true"></ion-input>
                        <ion-input type="text" *ngIf="vaga.publicoAlvo === 'mulheres'" value="Mulheres" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Observações</ion-label>
                        <ion-textarea [value]="vaga.observacoes" [readonly]="true"></ion-textarea>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button *ngIf="dadosUsuario?.usuario?.moradia === null" (click)="candidatarUsuario()">
                        Candidatar-me para a Vaga
                    </button>
                </div>
            </form>
        </ion-grid>
    </div>

</ion-content>
