<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Tarefas</ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleSearchBar()">
                <ion-icon name="search" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar *ngIf="search" debounce="1000"
                   [(ngModel)]="myInput"
                   [showCancelButton]="shouldShowCancel"
                   (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <h3 *ngIf="!searching && tarefas.length == 0" padding>Nenhuma tarefa.</h3>
    <ion-list>
        <ion-item-sliding *ngFor="let tarefa of tarefas; let i = index">
            <ion-item>
                {{ tarefa.nome}}<ion-icon  *ngIf="tarefa.responsaveis.indexOf(dadosUsuario?.usuario?.id) > -1" name="bookmark" item-end></ion-icon>
                <p>{{ tarefa.descricao }}</p>
                <p>Data Limite para conclusão: {{ tarefa?.dataConclusao}}</p>

            </ion-item>
            <ion-item-options side="right">
                <!--<button ion-button color="primary" [navPush]="tarefaPage" [navParams]="{mode: 'edit', tarefa: tarefa, usuario: dadosUsuario}">-->
                    <!--<ion-icon name="create"></ion-icon>-->
                    <!--Editar-->
                <!--</button>-->
                <button ion-button color="secondary" [navPush]="avaliarTarefaPage" [navParams]="{tarefa: tarefa, usuario: dadosUsuario}">
                    <ion-icon name="star"></ion-icon>
                    Avaliar
                </button>
                <button ion-button color="danger" (click)="excluirTarefa(tarefa)">
                    <ion-icon name="trash"></ion-icon>
                    Excluir
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="scrollVagas($event)" [enabled]="scrollEnabled">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab right bottom>
        <button ion-fab color="orange" [navPush]="tarefaPage" [navParams]="{mode: 'create', usuario: dadosUsuario}">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
