<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Moradias</ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleSearchBar()">
                <ion-icon name="search" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar *ngIf="search" debounce="1000"
            [(ngModel)]="myInput"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <h3 *ngIf="!searching && moradias.length === 0" padding>
        Nenhuma moradia.
    </h3>
    <ion-list>
        <ion-item-sliding *ngFor="let moradia of moradias" >
            <ion-item [navPush]="moradiaModalPage" [navParams]="{moradia: moradia, usuario: dadosUsuario}">
                <h4>{{ moradia.nome }}</h4>
                <p>{{ moradia.endereco }}, {{ moradia.bairro }} - {{ moradia.cidade }}, {{ moradia.estado }}</p>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="scrollMoradias($event)" [enabled]="scrollEnabled">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab *ngIf="dadosUsuario?.usuario.moradia === null" right bottom>
        <button ion-fab color="orange" [navPush]="moradiaPage" [navParams]="{mode: 'create', usuario: dadosUsuario}">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
