<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Painel de Controle</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-tabs tabsPlacement="top">
        <ion-tab [root]="menuIndexPage" tabTitle="Menu"></ion-tab>
        <ion-tab [root]="semanaIndexPage" tabTitle="Semana" *ngIf="dadosUsuario?.usuario?.moradia !== null"></ion-tab>
    </ion-tabs>
</ion-content>
