<ion-header>
    <ion-navbar>
        <ion-title>Evento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" formControlName="nome"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Descrição</ion-label>
                        <ion-input type="text" formControlName="descricao"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Telefone de Contato</ion-label>
                        <ion-input type="tel" formControlName="telefoneContato"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Atrações</ion-label>
                        <ion-input type="text" formControlName="atracoes"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Data de Realização</ion-label>
                        <ion-datetime displayFormat="DD MMM YYYY HH:mm" formControlName="dataRealizacao"></ion-datetime>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Valor da Entrada</ion-label>
                        <ion-input type="number" formControlName="valorEntrada"></ion-input>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button btn-block color="submitButton" type="submit"
                            block [disabled]="!eventoForm.valid">
                        Cadastrar Evento
                    </button>
                </div>
            </form>
        </ion-grid>
    </div>
</ion-content>
