<ion-header>
  <ion-navbar>
    <ion-title>Esqueci minha Senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form [formGroup]="form" (ngSubmit)="enviar()">
                <ion-row>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-row>
                <div padding>
                    <button ion-button btn-block color="submitButton" type="submit" block [disabled]="!form.valid">
                        Enviar
                    </button>
                </div>
            </form>
        </ion-grid>
    </div>
</ion-content>
