<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Localizar Membros</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 *ngIf="!searching && membros.length === 0" padding>
        Nenhum Usuário.
    </h3>
    <ion-list>
        <ion-item *ngIf="membros.length > 0" (click)="showModal(todosMembros)">Todos</ion-item>

        <ion-item *ngFor="let membro of membros" (click)="showModal([membro])">
            <h4>{{ membro.nome }}</h4>
        </ion-item>
    </ion-list>
</ion-content>
