<ion-menu [content]="content">
    <ion-content>
        <ion-list>
            <ion-item>
                <div padding>
                    <ion-header>
                        <ion-navbar>
                            <button ion-button menuToggle #menuButton>
                                <ion-icon name="menu" class="headerButton"></ion-icon>
                            </button>
                            <ion-title>Painel de Controle</ion-title>
                        </ion-navbar>
                    </ion-header>
                </div>
            </ion-item>
            <div>
                <h1 padding (click)="goToAndSetRoot(homePage, {})" menuClose>Menu</h1>
            </div>
            <!--<ion-item *ngIf="dadosUsuario?.usuario.perfil.id === 1">-->
                <!--<h2>Tornar-se Premium</h2>-->
            <!--</ion-item>-->
            <ion-item (click)="goToAndSetRoot(tarefaListPage, {})" menuClose
                      [hidden]="dadosUsuario?.usuario?.moradia === null">
                <h2>Tarefas</h2>
            </ion-item>
            <ion-item  (click)="goToAndSetRoot(vagaListPage, {})" menuClose>
                <h2>Vagas</h2>
            </ion-item>
            <ion-item  (click)="goToAndSetRoot(eventoListPage, {})" menuClose>
                <h2>Eventos</h2>
            </ion-item>
            <!--<ion-item menuClose *ngIf="dadosUsuario?.usuario.moradia !== null">-->
                <!--<h2>Gerenciar Moradia</h2>-->
            <!--</ion-item>-->
            <!--*ngIf="dadosUsuario?.usuario?.moradia !== null"-->
            <ion-item (click)="goToAndSetRoot(moradiaDetailPage, {})"
                      [hidden]="!dadosUsuario?.usuario?.moradia" menuClose>
                <h2>Gerenciar Moradia</h2>
            </ion-item>
            <ion-item [hidden]="!dadosUsuario?.usuario?.moradia" (click)="goToAndSetRoot(notificacoesPage, {})" menuClose>
                <h2>Notificações</h2>
            </ion-item>
            <ion-item (click)="goToWithParams(vagaPage, {mode: 'create'})"
                      [hidden]="!dadosUsuario?.usuario?.moradia" menuClose>
                <h2>Anunciar Vagas na Moradia</h2>
            </ion-item>
            <ion-item *ngIf="dadosUsuario?.usuario" (click)="goToAndSetRoot(moradiaListPage, {})" menuClose>
                <h2>Procurar Moradias</h2>
            </ion-item>
            <!--<ion-item (click)="goTo(localizacaoMembros)" menuClose *ngIf="dadosUsuario?.usuario.moradia !== null">-->
                <!--<h2>Localizar Membros</h2>-->
            <!--</ion-item>-->
            <ion-item [hidden]="!dadosUsuario?.usuario?.moradia" (click)="goToAndSetRoot(localizacaoMembros, {})" menuClose>
                <h2>Localizar Membros</h2>
            </ion-item>
            <ion-item [hidden]="dadosUsuario?.usuario === null" menuClose>
                <h2>Configurações</h2>
            </ion-item>
            <ion-item *ngIf="dadosUsuario" (click)="sair()" menuClose>
                <h2>Sair</h2>
            </ion-item>
            <ion-item *ngIf="!dadosUsuario" (click)="goToAndSetRoot(basePage, {})" menuClose>
                <h2>Fazer Login</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
