// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background-color: #3F51B5;
  color: white;
}

ion-footer
{
  background-color: map($colors, buttonGrey);
}

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp {
  color: #FFFFFF;
}

.headerButton {
  color: white;
}

ion-header ion-icon.back-button-icon.icon {
    color: white;
}

.submitButton {
  color: map($colors, submitButton);
}

ion-menu
{
    ion-content, ion-footer
    {
        background-color: #2E3348!important;
    }

    h1, h2, h3, h4, h5, h6, p
    {
        color: white;
    }

    ion-list, ion-item
    {
        background-color: #2E3348!important;
    }
}

//h1
//{
//  color: white;
//}
