<ion-header>
    <ion-navbar>
        <ion-title>FACTIO</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div id="logo" text-center></div>
                </ion-col>
            </ion-row>
            <br>
            <br>
            <ion-row>
                <ion-col col-5>
                    <p text-center>Já possui conta?</p>
                    <button ion-button btn-block block color="factioBase" [navPush]="loginPage">
                        Entrar
                    </button>
                </ion-col>
                <ion-col col-2></ion-col>
                <ion-col col-5>
                    <p text-center>Novo no FACTIO?</p>
                    <button ion-button btn-block block color="buttonGrey" [navPush]="usuarioCreatePage">Cadastrar</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer style="background-color: #E3E0F5; height: 150px;" >
    <ion-toolbar transparent>
        <ion-grid>
            <ion-row style="margin-top: -15px;">
                <ion-col>
                    <p text-center>
                        <img width="80px" height="80px" src="assets/imgs/lupa.jpeg">
                    </p>
                    <h3 text-center>
                        Moradias
                    </h3>
                </ion-col>
                <ion-col>
                    <p text-center>
                        <img width="80px" height="80px" src="assets/imgs/evento.jpeg">
                    </p>
                    <h3 text-center>
                        Eventos
                    </h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
