<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="headerButton"></ion-icon>
        </button>
        <ion-title>Detalhes da Moradia</ion-title>
        <ion-buttons end>
            <button ion-button (click)="editarMoradia()">
                <ion-icon name="create" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <div text-center>
            <img width="50px" height="50px" src="assets/imgs/logo_home.png">
            <h1>{{ moradia?.nome }}</h1>
            <p>{{ moradia?.endereco }}, {{ moradia?.numero }}<span *ngIf="moradia?.complemento">, {{ moradia?.complemento}}.</span></p>
            <p>{{ moradia?.bairro }}, {{ moradia?.cidade }} - {{ moradia?.estado }}</p>
        </div>
        <ion-grid>
            <ion-row style="margin-top: -15px;">
                <ion-col col-2></ion-col>
                <ion-col col-4 [navPush]="tarefaListPage">
                    <p text-center>
                        <img width="50px" height="50px" src="assets/imgs/logo_calendario.jpeg">
                    </p>
                    <h5 text-center>
                        Tarefas
                    </h5>
                </ion-col>
                <ion-col col-4 [navPush]="eventoListPage">
                    <p text-center>
                        <img width="50px" height="50px" src="assets/imgs/logo_eventos.jpeg">
                    </p>
                    <h5 text-center>
                        Eventos
                    </h5>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <ion-row style="margin-top: -15px;" [hidden]="!dadosUsuario?.usuario?.moradia">
                <ion-col col-2></ion-col>
                <ion-col col-4 [navPush]="vagaListPage">
                    <p text-center>
                        <img width="50px" height="50px" src="assets/imgs/logo_editar.jpeg">
                    </p>
                    <h5 text-center>
                        Vagas
                    </h5>
                </ion-col>
                <ion-col col-4 [navPush]="membroListPage">
                    <p text-center>
                        <img width="50px" height="50px" src="assets/imgs/logo_membros.jpeg">
                    </p>
                    <h5 text-center>
                        Membros
                    </h5>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
            <ion-row style="margin-top: -15px;">
                <ion-col col-2></ion-col>
                <ion-col col-4 [hidden]="!dadosUsuario?.usuario?.moradia" [navPush]="notificacoesPage">
                    <p text-center>
                        <img width="50px" height="50px" src="assets/imgs/logo_notificacoes.jpeg">
                    </p>
                    <h5 text-center>
                        Notificações
                    </h5>
                </ion-col>
                <ion-col col-4></ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
