page-moradia-detail
{
  #map_canvas
  {
    height: 30%;
  }

  ion-card
  {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

}
