<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button navPop ion-button icon-only>
                <ion-icon name="arrow-round-back" class="headerButton"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Informações do Evento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-grid>
            <form>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input [value]="evento.nome" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Descrição</ion-label>
                        <ion-input type="text" [value]="evento.descricao" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Telefone de Contato</ion-label>
                        <ion-input type="tel" [value]="evento.telefoneContato" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Atrações</ion-label>
                        <ion-input type="text" [value]="evento.atracoes" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Data de Realização</ion-label>
                        <ion-input type="text" [value]="evento.dataRealizacao" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Valor da Entrada</ion-label>
                        <ion-input type="text" [value]="'R$ ' + evento.valorEntrada.toString()" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>

            </form>
        </ion-grid>
    </div>

</ion-content>
