<ion-header>
    <ion-navbar>
        <ion-title>Detalhes da Moradia</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="container">
        <ion-grid>
            <form>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" [value]="moradia?.nome" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>CEP</ion-label>
                        <ion-input type="number" [value]="moradia?.cep" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-item>
                        <ion-label floating>Endereço</ion-label>
                        <ion-input type="text" [value]="moradia?.endereco" [readonly]="true"></ion-input>
                    </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <ion-item>
                            <ion-label floating>Nº</ion-label>
                            <ion-input type="number" [value]="moradia?.numero" [readonly]="true"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-9>
                        <ion-item>
                            <ion-label floating>Complemento</ion-label>
                            <ion-input type="text" [value]="moradia?.complemento" [readonly]="true"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-3>
                        <ion-list>
                            <ion-item>
                                <ion-label floating>UF</ion-label>
                                <ion-input type="text" [value]="moradia?.estado" [readonly]="true">{{ moradia?.estado}}</ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col col-5>
                        <ion-item>
                            <ion-label floating>Cidade</ion-label>
                            <ion-input type="text" [value]="moradia?.cidade" [readonly]="true"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                            <ion-label floating>Bairro</ion-label>
                            <ion-input type="text" [value]="moradia?.bairro" [readonly]="true"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <button ion-button [hidden]="dadosUsuario?.usuario?.moradia !== null" (click)="solicitarIngresso()">
                    Solicitar Ingresso na Moradia
                </button>
            </form>
        </ion-grid>
    </div>
</ion-content>
